html,
body {
    background-color: #282c34;
    font-size: 16px;
    padding: unset;
    margin: unset;
    color: white;
}

.container {
    max-width: 600px;
    margin: 0px auto;
    padding: 20px;
}

.add-item {
    background-color: #282c34;
    color: white;
    border: 1px solid #444444;
    font-size: 16px;
    height: 42px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    width: 100%;
}

.item {
    display: flex;
    margin: 15px 0;
    border-bottom: 1px solid #444444;
    padding: 15px 0;
}

.item>a {
    flex-grow: 1;
    width: 100%;
}

.logo-complete {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}

.logo-complete>i {
    font-size: 25px;
    color: #444444;
}

h1 {
    font-size: 64px;
    text-align: center;
    color: #444444;
    cursor: pointer;
    margin: 10px 0 30px 0 !important;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}

h1:hover {
    color: white;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}

.item.checked>.logo-complete>i {
    color: #efefee;
}

.item.checked>.title {
    text-decoration: line-through;
    opacity: 0.5;
}

.action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 20px;
}

.complete-all {
    border: 1px solid white;
    background-color: #282c34;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.fiter>a {
    margin: 0 5px;
    cursor: pointer;
}

.fiter>a.active {
    border-bottom: 1px solid white;
}

.not-item {
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid #444444;
}

.remove-todo {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    opacity: 0;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}

.item:hover>.remove-todo {
    opacity: 1;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}

.remove-todo>i:hover {
    color: red;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}

.remove-todo>i {
    font-size: 25px;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}